{% extends './base.html' %}

{% block title %}Todos{% endblock %}

{% block body %} 
{% include './nav.html' %}
<h1>Login page</h1>
<form action="/todos" method="POST">
    {{ form.hidden_tag() }}
    {% include "./flashed.html" %}
    <div>
      {{form.title.label}}
      {{form.title}}
    </div>

    <div>
      {{ form.description.label}}
      {{ form.description }}
    </div>

    {{ form.submit }}
</form>
<div>
{% if todos %}
{% for todo in todos %}
 <div>

    <span>Title: {{ todo[1] }}</span>
    <span>Description: {{ todo[2] }}</span>
 </div>
{% endfor %}
{% else %}
<span>No todos added yet</span>
{% endif %}
</div>

{% endblock %}